<!DOCTYPE html>
<html lang="en">

	<head>
	    <title>Monyy -- Help</title>
	    <!-- <script src="../static/js/Chart.js"></script> -->
	    <!-- <script src="../static/js/jquery-3.3.1.min.js"></script> -->
	    <link rel="stylesheet" type="text/css" href="../static/style.css" />
		<link rel='shortcut icon' href='../static/favicon.ico'>
	    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8"/>
	</head>

	<body>
		<center>
			<h1>Confused about how to use Monyy? Fear no more!</h1>
			<h2>This help page will help you better understand how to utilize all of Monyy's features!</h2>
			<br/><br/>
			<img src="../static/img/overview.png" alt="Overview of Monyy" style="width:800px;">
			<p>
				Here's an idea of what your page might look like. There's a sidebar and summary sections for "Cash", "Stocks", "Bonds", "Real Estate", and "Debt".
			</p>
			<br/>
			<img src="../static/img/sidebar.png" alt="Sidebar" style="width:200px;">
			<p>
				This is an example of the sidebar. You can click on each section header, and it will jump to the part of the web page that holds its summary sections. The same will happen if you click on each individual subsection of the sidebar. You can expand the sidebar to view all subsections and also collapse it again. If that section has a select dropdown menu in the summary section, the summary will reflect whatever subsection of the sidebar you chose.
			</p>
			<br/>
			<img src="../static/img/addbankacct.png" alt="Add Bank Account Popup" style="width:400px;">
			<p>
				Here is the popup that shows when you click "+ Add Bank Account". The picture above displays example input.
			</p>
			<br/>
			<img src="../static/img/addtransaction.png" alt="Add Transaction Popup" style="width:400px;">
			<p>
				Here is the pop up that shows when you click "Add Transaction". The picture above displays example input.
			</p>
			<br/>
			<img src="../static/img/buystock.png" alt="Buy Stock Popup" style="width:400px;">
			<p>
				Here is the pop up that shows when you click "+ Buy Stock". The picture above displays example input.
			</p>
			<br/>
			<img src="../static/img/addbond.png" alt="Add Bond Popup" style="width:400px;">
			<p>
				Here is the pop up that shows when you click "+ Add Bond". The picture above displays example input.
			</p>
			<br/>
			<img src="../static/img/addrealestate.png" alt="Add Real Estate Popup" style="width:400px;">
			<p>
				Here is the pop up that shows when you click "+ Add Real Estate". The picture above displays example input.
			</p>
			<br/>
			<img src="../static/img/adddebt.png" alt="Add Debt Popup" style="width:400px;">
			<p>
				Here is the pop up that shows when you click "+ Add Debt". The picture above displays example input.
			</p>
		</center>
	</body>