
<!DOCTYPE html>
<html lang="en">


  <head>
    <title>Monyy</title>
    <script src="../static/js/Chart.js"></script>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8"/>
  </head>

    <body>

        <!-----------------------
            SIDEBAR NAVIGATION
        ------------------------->
        <div class="sidenav">

            <!-- CASH / BANK ACCOUNTS -->
            <a href="#cash" class="sidebar-section">
                <img src="../static/img/bank.png" alt="Bank">
                 Cash
             </a>
            <!-- Top 3 bank accounts in descending order by amount of cash should be displayed.
                 When clicked, they should bring the user to the part of the web page that displays bank account information.
                 I'm thinking there's a drop down menu the user can use to select an account.
                 Then, the graph/other information will change accordingly. -->
            <div id="list-cash">
                <a href="#cash"><button type="button" id="acct1"></button></a>
                <a href="#cash"><button type="button" id="acct2"></button></a>
                <a href="#cash"><button type="button" id="acct3"></button></a>
            </div>
            <!-- When view all is clicked, the menu should expand to display all accts.
                 When expanded, a "Collapse" button should display underneath all accts.
                 When collapsed, menu should return to top 3 -->
            <center>
            <button type="button" id="viewall-cash" onclick="viewAllCash()" style="padding: 6px 8px 6px 0px;">View All</button>
            </center>
            <button type="button" id="add-bankacct" onclick="openPopUp('add-cash-popup')">+ Add Bank Account</button>
            <br/>


            <!-- STOCKS -->
            <a href="#stocks" class="sidebar-section">
                <img src="../static/img/chart.png" alt="Stock Chart">
                 Stocks</a>
            <div id="list-stocks">
                <a href="#stocks"><button type="button" id="stock1"></button></a>
                <a href="#stocks"><button type="button" id="stock2"></button></a>
                <a href="#stocks"><button type="button" id="stock3"></button></a>
            </div>
            <center>
            <button type="button" id="viewall-stocks" onclick="viewAllStocks()" style="padding: 6px 8px 6px 0px;">View All</button>
            </center>
            <button type="button" onclick="openPopUp('add-stock-popup')" id="add-stock">+ Buy Stock</button>
            <br/>

            <!-- BONDS -->
            <a href="#bonds" class="sidebar-section">
                <img src="../static/img/bonds.png" alt="Bond"> 
                Bonds
            </a>
            <a href="#bonds"><button type="button" id="bond1"></button></a>
            <a href="#bonds"><button type="button" id="bond2"></button></a>
            <a href="#bonds"><button type="button" id="bond3"></button></a>
            <center>
            <button type="button" id="viewall-bonds" onclick="viewAllBonds()" style="padding: 6px 8px 6px 0px;">View All</button>
            </center>
            <button type="button" onclick="openPopUp('add-bond-popup')" id="add-bonds">+ Add Bond</button>
            <br/>

            <!-- REAL ESTATE -->
            <a href="#realestate" class="sidebar-section">
                <img src="../static/img/realestate.png" alt="Real Estate"> 
                Real Estate
            </a>
            <div id="list-realestate">
                <a href="#realestate"><button type="button" id="realestate1"></button></a>
                <a href="#realestate"><button type="button" id="realestate2"></button></a>
                <a href="#realestate"><button type="button" id="realestate3"></button></a>
            </div>
            <center>
            <button type="button" id="viewall-estate" onclick="viewAllEstates()" style="padding: 6px 8px 6px 0px;">View All</button>
            </center>
            <button type="button" onclick="openPopUp('add-realestate-popup')" id="add-estate">+ Add Real Estate</button>
            <br/>

            <!-- CRYPTOCURRENCY -->
<!--             <a href="#cryptocurrency">
                <img src="../static/img/bitcoin.png" alt="Bitcoin"> 
                Cryptocurrency
            </a>
            <button type="button">Crypto1</button>
            <button type="button">Crypto2</button>
            <button type="button">Crypto3</button>
            <center>
            <button type="button" style="padding: 6px 8px 6px 0px;">View All</button>
            </center>
            <button type="button">+ Add Cryptocurrency</button>
            <br/>
 -->
            <!-- DEBTS -->
            <a href="#debts" class="sidebar-section">
                <img src="../static/img/debt.png" alt="Debt">
                 Debt</a>
            <div id="list-debts">
                <a href="#debts"><button type="button" id="debt1"></button></a>
                <a href="#debts"><button type="button" id="debt2"></button></a>
                <a href="#debts"><button type="button" id="debt3"></button></a>
            </div>
            <center>
            <button type="button" id="viewall-debt" onclick="viewAllDebts()" style="padding: 6px 8px 6px 0px;">View All</button>
            </center>
            <button type="button" onclick="openPopUp('add-debt-popup')" id="add-debt">+ Add Debt</button>
            <br/>
            <br/>
        </div>




        
        <div class="main">

            <!------
             LOGOUT
            -------->

            <!-----------
             POPUP FORMS
            ------------->
            <button style="float:right;"><a href="/help" style="color:#1d1e22;font-size:25px" target="_blank">Help</a></button>
            <p style="float:right;"> </p>
            <button style="float:right;"><a href="/logout" style="color:#1d1e22;font-size:25px">Logout</a></button>

            <!-- Add Bank Account -->
            <div class="popup" id="add-cash-popup">
                <form class="form-container" action="/index/bank" method='post' role='add_cash'>

                    <h1>Add Bank Account</h1>

                    <label for="bank"><b>Bank</b></label>
                    <input type="text" placeholder="Enter Bank" name="bank" id="form-cash-bank" required>

                    <label for="acct-name"><b>Account Name</b></label>
                    <input type="text" placeholder="Account Name" name="acct-name" id="form-cash-name" required>

                    <label for="account"><b>Account Number (last 4 digits)</b></label>
                    <input type="text" placeholder="Enter last 4 digits" name="account" id="form-cash-acct" required>

                    <br/>

                    <label for="balance"><b>Balance</b></label>
                    <input type="text" placeholder="Enter Balance" name="balance" id="form-cash-balance" required>

                    <br/>
                    <br/>

                    <center>
                        <button type="submit" onclick="post('/index/bank', 'add_cash')">Add</button>
                        <button type="button" onclick="closePopUp('add-cash-popup')">Cancel</button>
                    </center>
                </form>
            </div>

            <!-- Add Transaction -->
            <div class="popup" id="add-cash-trans-popup">
                <form class="form-container" action="/index/banktrans" method='post' role='add_trans'>

                    <h1>Add Transaction</h1>

                    <label for="digits"><b>Last 4 Digits of Desired Account</b></label>
                    <input type="text" placeholder="0000" name="digits" id="form-cashtrans-acct" required>

                    <label for="name"><b>Transaction Name</b></label>
                    <input type="text" placeholder="Enter Transaction Name" name="name" id="form-cashtrans-name" required>

                    <label for="day"><b>Transaction Day</b></label>
                    <input type="text" placeholder="DD" name="day" id="form-cashtrans-date" required>

                    <label for="month"><b>Transaction Month</b></label>
                    <input type="text" placeholder="MM" name="month" id="form-cashtrans-month" required>

                    <label for="year"><b>Transaction Year</b></label>
                    <input type="text" placeholder="YYYY" name="year" id="form-cashtrans-year" required>

                    <label for="amount"><b>Amount</b></label>
                    <input type="text" placeholder="Enter Transaction Amount" name="amount" id="form-cashtrans-amount" required>

                    <label for="deduction"><b>Deduction?</b></label>
                    <input type="checkbox" name="deduction" id="form-cashtrans-deduction" required>

                    <center>
                        <button type="submit" onclick="post('/index/banktrans', 'add_trans')">Add</button>
                        <button type="button" onclick="closePopUp('add-cash-trans-popup')">Cancel</button>
                    </center>
                </form>
            </div>

            <!-- Buy Stock -->
            <div class="popup" id="add-stock-popup">
                <form class="form-container" action="/index/stock" method='post' role='add_stock'>

                    <h1>Buy Stock</h1>

                    <label for="symbol"><b>Symbol</b></label>
                    <input type="text" placeholder="Enter Stock Symbol" name="symbol" id="form-stock-symbol" required>

                    <label for="shares"><b>Number of Shares</b></label>
                    <input type="text" placeholder="Enter Number of Shares" name="shares" id="form-stock-shares" required>

                    <center>
                        <button type="submit" onclick="post('/index/stock', 'add_stock')">Add</button>
                        <button type="button" onclick="closePopUp('add-stock-popup')">Cancel</button>
                    </center>
                </form>
            </div>

            <!-- Sell Stock -->
                <form class="form-container" action="/index/stock" method='post' role='add_stock'>

                    <h1>Buy Stock</h1>

                    <label for="symbol"><b>Symbol</b></label>
                    <input type="text" placeholder="Enter Stock Symbol" name="symbol" id="form-stock-symbol" required>

                    <label for="shares"><b>Number of Shares</b></label>
                    <input type="text" placeholder="Enter Number of Shares" name="shares" id="form-stock-shares" required>

                    <label for="value"><b>Initial Price</b></label>
                    <input type="text" placeholder="Enter Initial Buying Price" name="value" id="form-stocks-price" required>

                    <center>
                        <button type="submit" onclick="post('/index/stock', 'add_stock')">Add</button>
                        <button type="button" onclick="closePopUp('add-stock-popup')">Cancel</button>
                    </center>
                </form>

            <!-- Add Bond -->
            <div class="popup" id="add-bond-popup">
                <form class="form-container" action="/index/bond" method='post' role='add_bond'>

                    <h1>Add Bond</h1>

                    <label for="name"><b>Name</b></label>
                    <input type="text" placeholder="Enter Bond Name" name="name" id="form-bond-name" required>

                    <label for="value"><b>Value</b></label>
                    <input type="text" placeholder="Enter Bond Value" name="value" id="form-bond-value" required>

                    <label for="date"><b>Maturation Date</b></label>
                    <input type="text" placeholder="MM/DD/YYYY" name="date" id="form-bond-date" required>

                    <center>
                        <button type="submit" onclick="post('/index/bond', 'add_bond')">Add</button>
                        <button type="button" onclick="closePopUp('add-bond-popup')">Cancel</button>
                    </center>
                </form>
            </div>

            <!-- Add Real Estate -->
            <div class="popup" id="add-realestate-popup">
                <form class="form-container" action="/index/estate" method='post' role='add_estate'>

                    <h1>Add Real Estate</h1>

                    <label for="name"><b>Name</b></label>
                    <input type="text" placeholder="Enter Estate Name" name="name" id="form-estate-name" required>

                    <label for="origvalue"><b>Original Value</b></label>
                    <input type="text" placeholder="Enter Original Value" name="origvalue" id="form-estate-origvalue" required>

                    <label for="estvalue"><b>Estimated Current Value</b></label>
                    <input type="text" placeholder="Enter Estimated Value" name="estvalue" id="form-estate-estvalue" required>

                    <center>
                        <button type="submit" onclick="post('/index/estate', 'add_estate')">Add</button>
                        <button type="button" onclick="closePopUp('add-realestate-popup')">Cancel</button>
                    </center>
                </form>
            </div>

            <!-- Add Debt -->
            <div class="popup" id="add-debt-popup">
                <form class="form-container" action="/index/debt" method='post' role='add_debt'>

                    <h1>Add Real Debt</h1>

                    <label for="name"><b>Name/Lender</b></label>
                    <input type="text" placeholder="Enter Lender" name="name" id="form-debt-name" required>

                    <label for="principal"><b>Initial Debt Value</b></label>
                    <input type="text" placeholder="Enter Debt Value" name="principal" id="form-debt-principal" required>

                    <label for="interest"><b>Interest</b></label>
                    <input type="text" placeholder="Enter Interest (%)" name="interest" id="form-debt-interest" required>

                    <label for="period"><b>Pay Period</b></label>
                    <input type="text" placeholder="Enter Pay Period" name="period" id="form-debt-period" required>

                    <!--
                    <label for="debt-acct"><b>Account Associated</b></label>
                    <input type="text" placeholder="Enter Last 4 Digits of Valid Account" name="debt-acct" id="form-debt-acct" required>
                    -->

                    <center>
                        <button type="submit" onclick="post('/index/debt', 'add_debt')">Add</button>
                        <button type="button" onclick="closePopUp('add-debt-popup')">Cancel</button>
                    </center>
                </form>
            </div>




            <!---------------------
                SUMMARY SECTIONS
            ----------------------->
            <h2>Welcome, {{username}}.</h2>

            <div class="display-countworth">
                <h1> {{rampcount}} DAYS UNTIL BANKRUPTCY</h1>
            </div>

            <div class="display-countworth">
                <h1> NET WORTH: ${{networth}}</h1>
            </div>

<!--             <center>
                <div class="chart">
                    <canvas id="chart-networth" width="800" height="500"></canvas>
                </div>
            </center> -->


            <!-- CASH -->
            <h1 id="cash">Cash</h1>

            <select id="select-cash" onchange="changeCashView()">
            </select>

            <!-- Summary summarized by a table -->
            <center>
                <h3 id="cash-acct"></h3>

                <table>
                    <thead>
                        <th>Date</th>
                        <th>Transaction</th>
                        <th>Amount</th>
                        <th>Balance</th>
                    </thead>
                    <tbody id="table-cash">
                    </tbody>
                </table>

                <button id="edit-cash" onclick="openPopUp('add-cash-trans-popup')">Add Transaction</button>
            </center>

            <br/>


            <!-- STOCKS -->
            <h2 id="stocks">Stocks</h2>

            <select id="select-stocks" onchange="changeStockView()">
            </select>

            <!-- Stocks summarized by a line graph -->
            <center>
                <h2 id="stock-current"></h2>
                <div class="chart">
                    <canvas id="chart-stocks" width="800" height="500"></canvas>
                </div>

                <br/>

                <table>
                    <thead>
                        <th>Number of Shares</th>
                        <th>Cost per Share</th>
                        <th>Total Value</th>
                    </thead>
                    <tbody id="table-stocks">
                    </tbody>
                </table>

                <button id="sell-stock">Sell Stock</button>
            </center>

            <br/>

            <!-- BONDS -->
            <h2 id="bonds">Bonds</h2>

            <center>
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Maturity Date</th>
                        <th>Amount</th>
                    </thead>
                    <tbody id="table-bonds">
                    </tbody>
                </table>
            </center>

            <!-- REAL ESTATE -->
            <h2>Real Estate</h2>

            <center>
                <table>
                    <thead>
                        <th>Name/Address</th>
                        <th>Original Value</th>
                        <th>Estimated Value</th>
                    </thead>
                    <tbody id="table-estate">
                    </tbody>

                </table>
            </center>

<!--             <h2>Cryptocurrency</h2>
            <select>
                <option value="crypto1">Crypto1</option>
                <option value="crypto2">Crypto2</option>
                <option value="crypto3">Crypto3</option>
            </select> -->

            <!-- DEBT -->
            <h2>Debt</h2>

            <center>
                <table>
                    <thead>
                        <th>Name/Lender</th>
                        <th>Principal</th>
                        <th>Interest</th>
                        <th>Period</th>
                        <th>Payment Date</th>
                        <!-- <th>Account Associated</th> -->
                    </thead>
                    <tbody id="table-debt">
                    </tbody>
                </table>
            </center>


    <script src="../static/js/monyy-script.js"></script>





    <!---------- START JAVASCRIPT --------->
    <script>
        
        // get info for all sections
        var cash =  JSON.parse({{ cash|tojson }});
        var stocks = JSON.parse({{stocks|tojson }});
        var bonds = JSON.parse({{bonds|tojson }});
        var realestate = JSON.parse({{realestate|tojson }});
        var debts = JSON.parse({{debts|tojson }});

        /*
         * helper function for sorting
         */
        function swapKeys(array, A, B) {
                var temp = array[A];
                array[A] = array[B];
                array[B] = temp;
        }
        /*
         * sort function
         */
        function sortKeys(keyList, jsondata, comparison) {
                var same = false;
                var keyList;
                var oldKeyList;
                var acct1;
                var acct2;
                var trans1Key;
                var trans2Key;
                while (same == false) {
                    oldKeyList = keyList;
                    for (var i = 0; i < keyList.length - 1; i++) {
                        acct1 = jsondata[keyList[i+1]];
                        acct2 = jsondata[keyList[i]];
                        trans1Key = Object.keys(acct1)[0];
                        trans2Key = Object.keys(acct2)[0];
                        if (acct2[trans2Key][comparison] < acct1[trans1Key][comparison]) {
                            swapKeys(keyList, i + 1, i);
                        }
                    }
                    if (oldKeyList == keyList) {
                        same = true;
                    }
                }
            }




        /******************
         * SIDEBAR : CASH *
         ******************/
        if ({{ cash|tojson }} != '{}') {

            // get account key values and sort in descending order by balance.
            var keysCash = Object.keys(cash);
            sortKeys(keysCash, cash, 'balance');
            
            // get 3 permanent buttons from sidebar & set
            button1Cash = document.getElementById('acct1');
            button1Cash.innerText = keysCash[0];
            button1Cash.addEventListener('click', function(){sideClickAcct(button1Cash.innerHTML)});
            button2Cash = document.getElementById('acct2');
            button2Cash.innerText = keysCash[1];
            button2Cash.addEventListener('click', function(){sideClickAcct(button2Cash.innerHTML)});
            button3Cash = document.getElementById('acct3');
            button3Cash.innerText = keysCash[2];
            button3Cash.addEventListener('click', function(){sideClickAcct(button3Cash.innerHTML)});
            /*
             * View All Button
             */
            // boolean to keep track when to view all and when to collapse
            var collapseCash = false
            var extraCashAccts = [];

            function viewAllCash() {

                // get view all button
                buttonViewAllCash = document.getElementById('viewall-cash');

                var divCash = document.getElementById('list-cash')

                // if the list is not collapsed, proceed with all view all functionality
                if (!collapseCash) {
                    var button;
                    var ahref;

                    // iterate through rest of list and display
                    for (var i = 3; i < keysCash.length; i++) {

                        button = document.createElement('button');
                        button.innerHTML = keysCash[i];

                        button.addEventListener('click', function(){
                                sideClickAcct(button.innerHTML)
                            });
                        
                        ahref = document.createElement('a');
                        ahref.href = '#cash';
                        ahref.appendChild(button);
                        divCash.append(ahref);
                        extraCashAccts.push(ahref);
                    }

                    // handles decision for expanding/contracting side menu bar list
                    collapseCash = true;
                    // set button text to 'Collapse'
                    buttonViewAllCash.innerText = 'Collapse';
                } 
                // else if the list is collapsed
                else {
                    // undisplay rest of list
                    for (var i = 0; i < extraCashAccts.length; i++) {
                        extraCashAccts[i].parentNode.removeChild(extraCashAccts[i]);
                    }
                    // reset account list
                    extraCashAccts = [];
                    // handles decision for expanding/contracting side menu bar list
                    collapseCash = false;
                    //set button text to 'View All'
                    buttonViewAllCash.innerText = 'View All';
                }
            }
        }




        /********************
         * SIDEBAR : STOCKS *
         ********************/
        if ({{ stocks|tojson }} != '{}') {

            // get account key values and sort in descending order by balance.
            var keysStocks = Object.keys(stocks);
            sortKeys(keysStocks, stocks, 'total_value');
            
            // get 3 permanent buttons from sidebar & set
            button1Stocks = document.getElementById('stock1');
            button1Stocks.innerText = keysStocks[0];
            button1Stocks.addEventListener('click', function(){sideClickAcct(button1Stocks.innerHTML)});
            button2Stocks = document.getElementById('stock2');
            button2Stocks.innerText = keysStocks[1];
            button2Stocks.addEventListener('click', function(){sideClickAcct(button2Stocks.innerHTML)});
            button3Stocks = document.getElementById('stock3');
            button3Stocks.innerText = keysStocks[2];
            button3Stocks.addEventListener('click', function(){sideClickAcct(button3Stocks.innerHTML)});

            /*
             * View All Button
             */
            // boolean to keep track when to view all and when to collapse
            var collapseStocks = false
            var extraStocks = [];

            function viewAllStocks() {

                // get view all button
                buttonViewAllStocks = document.getElementById('viewall-stocks');

                var divStocks = document.getElementById('list-stocks');

                // if the list is not collapsed, proceed with all view all functionality
                if (!collapseStocks) {
                    var button;
                    var ahref;

                    // iterate through rest of list and display
                    for (var i = 3; i < keysStocks.length; i++) {

                        button = document.createElement('button');
                        button.innerHTML = keysStocks[i];

                        button.addEventListener('click', function(){
                                sideClickAcct(button.innerHTML)
                            });
                        
                        ahref = document.createElement('a');
                        ahref.href = '#stocks';
                        ahref.appendChild(button);
                        divStocks.append(ahref);
                        extraStocks.push(ahref);
                    }

                    // handles decision for expanding/contracting side menu bar list
                    collapseStocks = true;
                    // set button text to 'Collapse'
                    buttonViewAllStocks.innerText = 'Collapse';
                } 
                // else if the list is collapsed
                else {
                    // undisplay rest of list
                    for (var i = 0; i < extraStocks.length; i++) {
                        extraStocks[i].parentNode.removeChild(extraStocks[i]);
                    }
                    // reset account list
                    extraStocks = [];
                    // handles decision for expanding/contracting side menu bar list
                    collapseStocks = false;
                    //set button text to 'View All'
                    buttonViewAllStocks.innerText = 'View All';
                }
            }
        }




        /*******************
         * SIDEBAR : BONDS *
         *******************/
        if ({{ bonds|tojson }} != '{}') {

            // get account key values and sort in descending order by balance.
            var keysBonds = Object.keys(bonds);
            sortKeys(keysBonds, bonds, 'amount');
            
            // get 3 permanent buttons from sidebar & set
            button1Bonds = document.getElementById('bond1');
            button1Bonds.innerText = keysBonds[0];
            button2Bonds = document.getElementById('bond2');
            button2Bonds.innerText = keysBonds[1];
            button3Bonds = document.getElementById('bond3');
            button3Bonds.innerText = keysBonds[2];

            /*
             * View All Button
             */
            // boolean to keep track when to view all and when to collapse
            var collapseBonds = false
            var extraBonds = [];

            function viewAllBonds() {

                // get view all button
                buttonViewAllBonds = document.getElementById('viewall-bonds');

                var divBonds = document.getElementById('list-bonds');

                // if the list is not collapsed, proceed with all view all functionality
                if (!collapseBonds) {
                    var button;
                    var ahref;

                    // iterate through rest of list and display
                    for (var i = 3; i < keysBonds.length; i++) {

                        button = document.createElement('button');
                        button.innerHTML = keysBonds[i];

                        button.addEventListener('click', function(){
                                sideClickAcct(button.innerHTML)
                            });
                        
                        ahref = document.createElement('a');
                        ahref.href = '#cash';
                        ahref.appendChild(button);
                        divBonds.append(ahref);
                        extraBonds.push(ahref);
                    }

                    // handles decision for expanding/contracting side menu bar list
                    collapseBonds = true;
                    // set button text to 'Collapse'
                    buttonViewAllBonds.innerText = 'Collapse';
                } 
                // else if the list is collapsed
                else {
                    // undisplay rest of list
                    for (var i = 0; i < extraBonds.length; i++) {
                        extraBonds[i].parentNode.removeChild(extraBonds[i]);
                    }
                    // reset account list
                    extraBonds = [];
                    // handles decision for expanding/contracting side menu bar list
                    collapseBonds = false;
                    //set button text to 'View All'
                    buttonViewAllBonds.innerText = 'View All';
                }
            }
        }




        /*************************
         * SIDEBAR : REAL ESTATE *
         *************************/
        if ({{ realestate|tojson }} != '{}') {

            // get account key values and sort in descending order by balance.
            var keysEstate = Object.keys(realestate);
            sortKeys(keysEstate, realestate, 'estimated_value');
            
            // get 3 permanent buttons from sidebar & set
            button1Estate = document.getElementById('realestate1');
            button1Estate.innerText = keysEstate[0];
            button1Estate.addEventListener('click', function(){sideClickAcct(button1Estate.innerHTML)});
            button2Estate = document.getElementById('realestate2');
            button2Estate.innerText = keysEstate[1];
            button2Estate.addEventListener('click', function(){sideClickAcct(button2Estate.innerHTML)});
            button3Estate = document.getElementById('realestate3');
            button3Estate.innerText = keysEstate[2];
            button3Estate.addEventListener('click', function(){sideClickAcct(button3Estate.innerHTML)});

            /*
             * View All Button
             */
            // boolean to keep track when to view all and when to collapse
            var collapseEstates = false
            var extraEstates = [];

            function viewAllEstates() {

                // get view all button
                buttonViewAllEstates = document.getElementById('viewall-estate');

                var divEstates = document.getElementById('list-realestate');

                // if the list is not collapsed, proceed with all view all functionality
                if (!collapseEstates) {
                    var button;
                    var ahref;

                    // iterate through rest of list and display
                    for (var i = 3; i < keysEstate.length; i++) {

                        button = document.createElement('button');
                        button.innerHTML = keysEstate[i];

                        button.addEventListener('click', function(){
                                sideClickAcct(button.innerHTML)
                            });
                        
                        ahref = document.createElement('a');
                        ahref.href = '#realestate';
                        ahref.appendChild(button);
                        divEstates.append(ahref);
                        extraEstates.push(ahref);
                    }

                    // handles decision for expanding/contracting side menu bar list
                    collapseEstates = true;
                    // set button text to 'Collapse'
                    buttonViewAllEstates.innerText = 'Collapse';
                } 
                // else if the list is collapsed
                else {
                    // undisplay rest of list
                    for (var i = 0; i < extraDebts.length; i++) {
                        extraEstates[i].parentNode.removeChild(extraEstates[i]);
                    }
                    // reset account list
                    extraEstates = [];
                    // handles decision for expanding/contracting side menu bar list
                    collapseEstates = false;
                    //set button text to 'View All'
                    buttonViewAllEstates.innerText = 'View All';
                }
            }
        }




        /*******************
         * SIDEBAR : DEBTS *
         *******************/
        if ({{ debts|tojson }} != '{}') {

            // get account key values and sort in descending order by balance.
            var keysDebts = Object.keys(debts);
            sortKeys(keysDebts, debts, 'remaining');
            
            // get 3 permanent buttons from sidebar & set
            button1Debts = document.getElementById('debt1');
            button1Debts.innerText = keysDebts[0];
            button1Debts.addEventListener('click', function(){sideClickAcct(button1Debts.innerHTML)});
            button2Debts = document.getElementById('debt2');
            button2Debts.innerText = keysDebts[1];
            button2Debts.addEventListener('click', function(){sideClickAcct(button2Debts.innerHTML)});
            button3Debts = document.getElementById('debt3');
            button3Debts.innerText = keysDebts[2];
            button3Debts.addEventListener('click', function(){sideClickAcct(button3Debts.innerHTML)});

            /*
             * View All Button
             */
            // boolean to keep track when to view all and when to collapse
            var collapseDebts = false
            var extraDebts = [];

            function viewAllDebts() {

                // get view all button
                buttonViewAllDebts = document.getElementById('viewall-debt');

                var divDebts = document.getElementById('list-debts');

                // if the list is not collapsed, proceed with all view all functionality
                if (!collapseDebts) {
                    var button;
                    var ahref;

                    // iterate through rest of list and display
                    for (var i = 3; i < keysDebts.length; i++) {

                        button = document.createElement('button');
                        button.innerHTML = keysDebts[i];

                        button.addEventListener('click', function(){
                                sideClickAcct(button.innerHTML)
                            });
                        
                        ahref = document.createElement('a');
                        ahref.href = '#debts';
                        ahref.appendChild(button);
                        divDebts.append(ahref);
                        extraDebts.push(ahref);
                    }

                    // handles decision for expanding/contracting side menu bar list
                    collapseDebts = true;
                    // set button text to 'Collapse'
                    buttonViewAllDebts.innerText = 'Collapse';
                } 
                // else if the list is collapsed
                else {
                    // undisplay rest of list
                    for (var i = 0; i < extraDebts.length; i++) {
                        extraDebts[i].parentNode.removeChild(extraDebts[i]);
                    }
                    // reset account list
                    extraDebts = [];
                    // handles decision for expanding/contracting side menu bar list
                    collapseDebts = false;
                    //set button text to 'View All'
                    buttonViewAllDebts.innerText = 'View All';
                }
            }
        }




        /******************
         * FORM FUNCTIONS *
         ******************/
        /*
         * POST FUNCTION
         */
        function post(url, role) {
            $(function() {
                $('button').click(function() {
                    $.ajax({
                        url: url,
                        headers: {'Content-Type': 'application/json'},
                        data: $(role).serialize(),
                        type: 'POST',
                        success: function(response) {
                            console.log(response);
                        },
                        error: function(error) {
                            console.log(response);
                            console.log(error);
                        }
                    });
                });
            }
            );
        }

        /*
         * POP UP FUNCTIONS
         */
        function openPopUp(id) {
            document.getElementById(id).style.display = "block";
        }
        function closePopUp(id) {
            document.getElementById(id).style.display = "none";
        }




        /**********************************
         * SELECT AND TABLE/CHARTS : CASH *
         **********************************/
        /*
         * When an account is selected from the sidebar,
         * change the value in select and update table/graph to reflect changes.
         */
        function sideClickAcct(val) {
            selectCash.value = val;
            changeCashView();
        }


        if ({{ cash|tojson }} != '{}') {
            // populate select dropdown with all accounts
            var selectCash = document.getElementById('select-cash');
            var option;
            for (var i = 0; i < keysCash.length; i++) {
                option = document.createElement('option');
                option.text = keysCash[i];
                selectCash.add(option);
            }
            
            /*
             * Called every time a different account is selected.
             * Populates table with data.
             */
            function changeCashView() {
                selected = selectCash.options[selectCash.selectedIndex].value;
                var newBody = document.createElement('tbody');
                var acct = cash[selected];
                var acctKeys = Object.keys(acct);
                var newRow;
                var date;
                var trans;
                var amount;
                var balance;
                var newText;
                for (var i = 0; i < acctKeys.length; i++) {
                    newRow = newBody.insertRow(newBody.rows.length);

                    date = newRow.insertCell(0);
                    newText = document.createTextNode(acct[acctKeys[i]].date);
                    date.appendChild(newText);

                    trans = newRow.insertCell(1);
                    newText = document.createTextNode(acct[acctKeys[i]].name);
                    trans.appendChild(newText);

                    amount = newRow.insertCell(2);
                    newText = document.createTextNode(acct[acctKeys[i]].amount);
                    amount.appendChild(newText);

                    balance = newRow.insertCell(3);
                    newText = document.createTextNode(acct[acctKeys[i]].balance);
                    balance.appendChild(newText);
                }
                oldBody = document.getElementById('table-cash');
                oldBody.parentNode.replaceChild(newBody, oldBody);
                newBody.id = 'table-cash';
            }

            // call to display default selected account
            changeCashView();
        }




        /************************************
         * SELECT AND TABLE/CHARTS : STOCKS *
         ***********************************/

        if ({{ stocks|tojson }} != '{}') {
            // populate select dropdown with all accounts
            var selectStocks = document.getElementById('select-stocks');
            var option;
            for (var i = 0; i < keysStocks.length; i++) {
                option = document.createElement('option');
                option.text = keysStocks[i];
                selectStocks.add(option);
            }


            /*
             * Called every time a different account is selected.
             * Populates table with data.
             */
            function changeStockView() {
                selected = selectStocks.options[selectStocks.selectedIndex].value;

                var newBody = document.createElement('tbody');
                var oldBody;
                var acct = stocks[selected];
                var acctKeys = keysStocks;
                closingValKeys = Array.from(Object.keys(acct.closing_values));
                closingValValues = Array.from(Object.values(acct.closing_values));
                var newRow;
                var numShares;
                var costPerShare;
                var totalValue;
                var newText;

                newRow = newBody.insertRow(newBody.rows.length);

                numShares = newRow.insertCell(0);
                newText = document.createTextNode(acct.num_shares);
                numShares.appendChild(newText);

                costPerShare = newRow.insertCell(1);
                newText = document.createTextNode(acct.cost_per_share);
                costPerShare.appendChild(newText);

                totalValue = newRow.insertCell(2);
                newText = document.createTextNode(acct.total_value);
                totalValue.appendChild(newText);

                oldBody = document.getElementById('table-stocks');
                oldBody.parentNode.replaceChild(newBody, oldBody);
                newBody.id = 'table-stocks';

                /*
                 * STOCKS GRAPH
                 */
                // var stocks = new Chart(document.getElementById('chart-stocks').getContext('2d'), {
                //     type: 'line',
                //     options: {
                //         title: {
                //             display: true,
                //             position: 'top',
                //             fontSize: 20,
                //             fontColor: "#373737",
                //             padding: 10,
                //             text: "Stock Closing Price"
                //         },
                //         legend: {
                //             display: false
                //         }
                //     },
                //     responsive: false,
                //     maintainAspectRatio: true,
                //     data: {
                //         labels: ['Mon', 'Tues', 'Wed', 'Thurs', 'Fri'],
                //         datasets: [{
                //             data: [432.54, 567.45, 423.54, 333.45, 677.87,],
                //         borderColor: "#1d1e22",
                //         backgroundColor: "rgb(0,0,0,0)"
                //         }]
                //     }
                // });
            }

            // call to display default selected account
            changeStockView();
        }



        /***********************************
         * SELECT AND TABLE/CHARTS : BONDS *
         **********************************/
        if ({{ bonds|tojson }} != '{}') {

            var bodyBonds = document.getElementById('table-bonds');

            var nameBond;
            var maturityBond;
            var amountBond;
            var newRow;
            var newText;


            for (var i = 0; i < keysBonds.length; i++) {
                newRow = bodyBonds.insertRow(bodyBonds.rows.length);

                nameBond = newRow.insertCell(0);
                newText = document.createTextNode(keysBonds[i]);
                nameBond.appendChild(newText);

                maturityBond = newRow.insertCell(1);
                newText = document.createTextNode(bonds[keysBonds[i]].maturity_date);
                maturityBond.appendChild(newText);

                amountBond = newRow.insertCell(2);
                newText = document.createTextNode(bonds[keysBonds[i]].amount);
                amountBond.appendChild(newText);

            }
        }




        /*****************************************
         * SELECT AND TABLE/CHARTS : REAL ESTATE *
         *****************************************/
        if ({{ realestate|tojson }} != '{}') {

            var bodyEstate = document.getElementById('table-estate');

            var nameEstate;
            var estValueEstate;
            var origValueEstate;
            var newRow;
            var newText;


            for (var i = 0; i < keysBonds.length; i++) {
                newRow = bodyEstate.insertRow(bodyEstate.rows.length);

                nameEstate = newRow.insertCell(0);
                newText = document.createTextNode(keysEstate[i]);
                nameEstate.appendChild(newText);

                origValueEstate = newRow.insertCell(1);
                newText = document.createTextNode(realestate[keysEstate[i]].original_value);
                origValueEstate.appendChild(newText);


                estValueEstate = newRow.insertCell(2);
                newText = document.createTextNode(realestate[keysEstate[i]].estimated_value);
                estValueEstate.appendChild(newText);

            }
        }




        /**********************************
         * SELECT AND TABLE/CHARTS : DEBT *
         **********************************/
        if ({{ debts|tojson }} != '{}') {

            var bodyDebt = document.getElementById('table-debt');

            var nameDebt;
            var principalDebt;
            var interestDebt;
            var periodDebt;
            var paymentDateDebt;
            var newRow;
            var newText;


            for (var i = 0; i < keysDebts.length; i++) {
                newRow = bodyDebt.insertRow(bodyDebt.rows.length);

                nameDebt = newRow.insertCell(0);
                newText = document.createTextNode(keysDebts[i]);
                nameDebt.appendChild(newText);

                principalDebt = newRow.insertCell(1);
                newText = document.createTextNode(debts[keysDebts[i]].principal);
                principalDebt.appendChild(newText);


                interestDebt = newRow.insertCell(2);
                newText = document.createTextNode(debts[keysDebts[i]].interest);
                interestDebt.appendChild(newText);

                periodDebt = newRow.insertCell(3);
                newText = document.createTextNode(debts[keysDebts[i]].period);
                periodDebt.appendChild(newText);

                paymentDateDebt = newRow.insertCell(3);
                newText = document.createTextNode(debts[keysDebts[i]].payment_date);
                paymentDateDebt.appendChild(newText);

            }
        }

    </script>
       
    </body>
</html> 